---
apiVersion: v1
kind: Namespace
metadata:
  name: media
---
# ========= PersistentVolumes (hostPath) =========
# Bibliotecas y datos
# apiVersion: v1
# kind: PersistentVolume
# metadata:
  # name: pv-media-hostpath
# spec:
  # capacity: { storage: 20Gi }
  # accessModes: ["ReadWriteMany"]
  # persistentVolumeReclaimPolicy: Retain
  # storageClassName: ""
  # hostPath: { path: /srv/reops/media_center_k8s/media }
# ---
# ========= PVCs =========
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
  # name: pvc-media-hostpath
  # namespace: media
# spec:
  # accessModes: ["ReadWriteMany"]
  # resources: { requests: { storage: 20Gi } }
  # storageClassName: ""
  # volumeName: pv-media-hostpath
# ---
# ========= PVCs con Longhorn =========
# Datos compartidos (RWX)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 500Gi } }
  storageClassName: longhorn
---
# Config (RWX)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 10Gi } }
  storageClassName: longhorn
  #volumeName: jellyfin-config-pvc

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qbittorrent-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: readarr-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bazarr-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyseerr-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lidarr-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ombi-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
#---
#apiVersion: v1
#kind: PersistentVolumeClaim
#metadata:
#  name: stash-config-pvc
#  namespace: media
#  annotations:
#    argocd.argoproj.io/sync-options: Skip=true
#spec:
#  accessModes: ["ReadWriteMany"]
#  resources: { requests: { storage: 1Gi } }
#  storageClassName: longhorn

#---
#apiVersion: v1
#kind: PersistentVolumeClaim
#metadata:
#  name: stashbox-config-pvc
#  namespace: media
#  annotations:
#    argocd.argoproj.io/sync-options: Skip=true
#spec:
#  accessModes: ["ReadWriteMany"]
#  resources: { requests: { storage: 1Gi } }
#  storageClassName: longhorn

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: whisparr-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: whisper-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources: { requests: { storage: 1Gi } }
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mylar-config-pvc
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Skip=true
spec:
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn

#---
#apiVersion: v1
#kind: PersistentVolumeClaim
#metadata:
#  name: avradarr-config-pvc
#  namespace: media
#  annotations:
#    argocd.argoproj.io/sync-options: Skip=true
#spec:
#  accessModes: ["ReadWriteMany"]
#  resources:
#    requests:
#      storage: 1Gi
#  storageClassName: longhorn

