# Jellyfin
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: jellyfin
  namespace: media
spec:
  replicas: 1
  selector: { matchLabels: { app: jellyfin } }
  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause: { duration: 10s }
        - setWeight: 100
        - pause: { duration: 10s }
  template:
    metadata: { labels: { app: jellyfin } }
    spec:
      nodeSelector:
        kubernetes.io/hostname: rasppi516
      containers:
        - name: jellyfin
          image: lscr.io/linuxserver/jellyfin:latest
          env:
            - { name: PUID, value: "1000" }
            - { name: PGID, value: "1000" }
            - { name: TZ, value: "America/Santo_Domingo" }
          ports:
            - { containerPort: 8096, name: http }
          volumeMounts:
            - { name: cfg, mountPath: /config }
            - { name: media, mountPath: /data/media }
      volumes:
        - { name: cfg,  persistentVolumeClaim: { claimName: jellyfin-config-pvc } }
        - { name: media, persistentVolumeClaim: { claimName: media-pvc } }

# jellyseerr
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: jellyseerr
  namespace: media
spec:
  replicas: 1
  selector: { matchLabels: { app: jellyseerr } }
  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause: { duration: 10s }
        - setWeight: 100
        - pause: { duration: 10s }
  template:
    metadata: { labels: { app: jellyseerr } }
    spec:
      nodeSelector:
        kubernetes.io/hostname: rasppi516
      containers:
        - name: jellyseerr
          image: fallenbagel/jellyseerr:latest
          env:
            - { name: PUID, value: "1000" }
            - { name: PGID, value: "1000" }
            - { name: TZ, value: "America/Santo_Domingo" }
          ports:
            - { containerPort: 5055, name: http }
          volumeMounts:
            - { name: cfg, mountPath: /app/config }
            - { name: media, mountPath: /data/media }
      volumes:
        - { name: cfg,  persistentVolumeClaim: { claimName: jellyseerr-config-pvc } }
        - { name: media, persistentVolumeClaim: { claimName: media-pvc } }


---
# qBittorrent
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: qbittorrent
  namespace: media
spec:
  replicas: 1
  selector: { matchLabels: { app: qbittorrent } }
  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause: { duration: 30s }
        - setWeight: 100
        - pause: { duration: 10s }
  template:
    metadata: { labels: { app: qbittorrent } }
    spec:
      nodeSelector:
        kubernetes.io/hostname: rasppi516
      containers:
        - name: qbittorrent
          image: lscr.io/linuxserver/qbittorrent:latest
          env:
            - { name: PUID, value: "1000" }
            - { name: PGID, value: "1000" }
            - { name: TZ, value: "America/Santo_Domingo" }
            - { name: WEBUI_PORT, value: "8080" }
          ports:
            - { containerPort: 8080, name: web }
            - { containerPort: 6881, name: bt-tcp, protocol: TCP }
            - { containerPort: 6881, name: bt-udp, protocol: UDP }
          volumeMounts:
            - { name: cfg,   mountPath: /config }
            - { name: media, mountPath: /data/media }
      volumes:
        - { name: cfg,   persistentVolumeClaim: { claimName: qbittorrent-config-pvc } }
        - { name: media, persistentVolumeClaim: { claimName: media-pvc } }

# ---
# # Prowlarr
# apiVersion: argoproj.io/v1alpha1
# kind: Rollout
# metadata:
#   name: prowlarr
#   namespace: media
# spec:
#   replicas: 1
#   selector: { matchLabels: { app: prowlarr } }
#   strategy:
#     canary:
#       steps:
#         - setWeight: 50
#         - pause: { duration: 30s }
#         - setWeight: 100
#         - pause: { duration: 10s }
#   template:
#     metadata: { labels: { app: prowlarr } }
#     spec:
#       nodeSelector:
#         kubernetes.io/hostname: rasppi516
#       containers:
#         - name: prowlarr
#           image: lscr.io/linuxserver/prowlarr:latest
#           env:
#             - { name: PUID, value: "1000" }
#             - { name: PGID, value: "1000" }
#             - { name: TZ, value: "America/Santo_Domingo" }
#           ports:
#             - { containerPort: 9696, name: http }
#           volumeMounts:
#             - { name: cfg, mountPath: /config }
#       volumes:
#         - { name: cfg, persistentVolumeClaim: { claimName: prowlarr-config-pvc } }

---
# Sonarr
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: sonarr
  namespace: media
spec:
  replicas: 1
  selector: { matchLabels: { app: sonarr } }
  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause: { duration: 30s }
        - setWeight: 100
        - pause: { duration: 10s }
  template:
    metadata: { labels: { app: sonarr } }
    spec:
      nodeSelector:
        kubernetes.io/hostname: rasppi516
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:latest
          env:
            - { name: PUID, value: "1000" }
            - { name: PGID, value: "1000" }
            - { name: TZ, value: "America/Santo_Domingo" }
          ports:
            - { containerPort: 8989, name: http }
          volumeMounts:
            - { name: cfg,   mountPath: /config }
            - { name: media, mountPath: /data/media }
      volumes:
        - { name: cfg,   persistentVolumeClaim: { claimName: sonarr-config-pvc } }
        - { name: media, persistentVolumeClaim: { claimName: media-pvc } }

---
# Radarr
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: radarr
  namespace: media
spec:
  replicas: 1
  selector: { matchLabels: { app: radarr } }
  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause: { duration: 30s }
        - setWeight: 100
        - pause: { duration: 10s }
  template:
    metadata: { labels: { app: radarr } }
    spec:
      nodeSelector:
        kubernetes.io/hostname: rasppi516
      containers:
        - name: radarr
          image: lscr.io/linuxserver/radarr:latest
          env:
            - { name: PUID, value: "1000" }
            - { name: PGID, value: "1000" }
            - { name: TZ, value: "America/Santo_Domingo" }
          ports:
            - { containerPort: 7878, name: http }
          volumeMounts:
            - { name: cfg,    mountPath: /config }
            - { name: media,  mountPath: /data/media }
      volumes:
        - { name: cfg,    persistentVolumeClaim: { claimName: radarr-config-pvc } }
        - { name: media,  persistentVolumeClaim: { claimName: media-pvc } }

---
# Readarr
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: readarr
  namespace: media
spec:
  replicas: 1
  selector: { matchLabels: { app: readarr } }
  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause: { duration: 30s }
        - setWeight: 100
        - pause: { duration: 10s }
  template:
    metadata: { labels: { app: readarr } }
    spec:
      nodeSelector:
        kubernetes.io/hostname: rasppi516
      securityContext:
        fsGroup: 1000
      containers:
        - name: readarr
          image: linuxserver/readarr:0.4.19-nightly
          env:
            - { name: PUID, value: "1000" }
            - { name: PGID, value: "1000" }
            - { name: TZ,   value: "America/Santo_Domingo" }
          ports:
            - containerPort: 8787
          volumeMounts:
            - { name: config, mountPath: /config }
            - { name: media,  mountPath: /data/media }
      volumes:
        - name: config
          persistentVolumeClaim: { claimName: readarr-config-pvc }
        - name: media
          persistentVolumeClaim: { claimName: media-pvc }

---
# Bazarr
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: bazarr
  namespace: media
spec:
  replicas: 1
  selector: { matchLabels: { app: bazarr } }
  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause: { duration: 30s }
        - setWeight: 100
        - pause: { duration: 10s }
  template:
    metadata: { labels: { app: bazarr } }
    spec:
      nodeSelector:
        kubernetes.io/hostname: rasppi516
      containers:
        - name: bazarr
          image: lscr.io/linuxserver/bazarr:latest
          env:
            - { name: PUID, value: "1000" }
            - { name: PGID, value: "1000" }
            - { name: TZ, value: "America/Santo_Domingo" }
          ports:
            - { containerPort: 6767, name: http }
          volumeMounts:
            - { name: cfg,   mountPath: /config }
            - { name: media, mountPath: /data/media }
      volumes:
        - { name: cfg,   persistentVolumeClaim: { claimName: bazarr-config-pvc } }
        - { name: media, persistentVolumeClaim: { claimName: media-pvc } }

---
# ombi
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ombi
  namespace: media
spec:
  replicas: 1
  selector: { matchLabels: { app: ombi } }
  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause: { duration: 30s }
        - setWeight: 100
        - pause: { duration: 10s }
  template:
    metadata: { labels: { app: ombi } }
    spec:
      nodeSelector:
        kubernetes.io/hostname: rasppi516
      containers:
        - name: ombi
          image: lscr.io/linuxserver/ombi:latest
          env:
            - { name: PUID, value: "1000" }
            - { name: PGID, value: "1000" }
            - { name: TZ, value: "America/Santo_Domingo" }
          ports:
            - { containerPort: 6767, name: http }
          volumeMounts:
            - { name: cfg,   mountPath: /config }
            - { name: media, mountPath: /data/media }
      volumes:
        - { name: cfg,   persistentVolumeClaim: { claimName: ombi-config-pvc } }
        - { name: media, persistentVolumeClaim: { claimName: media-pvc } }

#---
# stash
#apiVersion: argoproj.io/v1alpha1
#kind: Rollout
#metadata:
#  name: stash
#  namespace: media
#spec:
#  replicas: 1
#  selector: { matchLabels: { app: stash } }
#  strategy:
#    canary:
#      steps:
#        - setWeight: 50
#        - pause: { duration: 30s }
#        - setWeight: 100
#        - pause: { duration: 10s }
#  template:
#    metadata: { labels: { app: stash } }
#    spec:
#      nodeSelector:
#        kubernetes.io/hostname: rasppi516
#      containers:
#        - name: stash
#          image: stashapp/stash:latest
#          env:
#            - { name: PUID, value: "1000" }
#            - { name: PGID, value: "1000" }
#            - { name: TZ, value: "America/Santo_Domingo" }
#          ports:
#            - { containerPort: 6767, name: http }
#          volumeMounts:
#            - { name: cfg,   mountPath: /root/.stash }
#            - { name: media, mountPath: /data/media }
#      volumes:
#        - { name: cfg,   persistentVolumeClaim: { claimName: stash-config-pvc } }
#        - { name: media, persistentVolumeClaim: { claimName: media-pvc } } 

#---
# stashbox
#apiVersion: argoproj.io/v1alpha1
#kind: Rollout
#metadata:
#  name: stashbox
#  namespace: media
#spec:
#  replicas: 1
#  selector: { matchLabels: { app: stashbox } }
#  strategy:
#    canary:
#      steps:
#        - setWeight: 50
#        - pause: { duration: 30s }
#        - setWeight: 100
#        - pause: { duration: 10s }
#  template:
#    metadata: { labels: { app: stashbox } }
#    spec:
#      nodeSelector:
#        kubernetes.io/hostname: rasppi516
#      containers:
#        - name: stashbox
#          image: stashapp/stash-box:latest
#          env:
#            - { name: PUID, value: "1000" }
#            - { name: PGID, value: "1000" }
#            - { name: TZ, value: "America/Santo_Domingo" }
#          ports:
#            - { containerPort: 6767, name: http }
#          volumeMounts:
#            - { name: cfg,   mountPath: /config }
#            - { name: media, mountPath: /data/media }
#      volumes:
#        - { name: cfg,   persistentVolumeClaim: { claimName: stashbox-config-pvc } }
#        - { name: media, persistentVolumeClaim: { claimName: media-pvc } } 

#---
# avradarr
#apiVersion: argoproj.io/v1alpha1
#kind: Rollout
#metadata:
#  name: avradarr
#  namespace: media
#spec:
#  replicas: 1
#  selector: { matchLabels: { app: avradarr } }
#  strategy:
#    canary:
#      steps:
#        - setWeight: 50
#        - pause: { duration: 30s }
#        - setWeight: 100
#        - pause: { duration: 10s }
#  template:
#    metadata: { labels: { app: avradarr } }
#    spec:
#      nodeSelector:
#        kubernetes.io/hostname: rasppi516
#      containers:
#        - name: avradarr
#          image: docker.io/njimenez/avnzarr:latest
#          env:
#            - { name: PUID, value: "1000" }
#            - { name: PGID, value: "1000" }
#            - { name: TZ, value: "America/Santo_Domingo" }
#          ports:
#            - { containerPort: 6767, name: http }
#          volumeMounts:
#            - { name: cfg,   mountPath: /config }
#            - { name: media, mountPath: /data/media }
#      volumes:
#        - { name: cfg,   persistentVolumeClaim: { claimName: avradarr-config-pvc } }
#        - { name: media, persistentVolumeClaim: { claimName: media-pvc } } 



